.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

div h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

h1 {
  text-align: center;
  background-color: grey;
  font-size: 100px;
=======
ul,
li,
h1,
h2,
h3 { 
  margin: 0;
  padding: 0; 
}

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

li {
  font-size: inherit; }

/* .input-group {
} */

.large-12 {
  /* border-radius: 0 5000px 5000px 0; */
  border-style:solid;
}

.work-feature-block {
  padding: 10px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.work-feature-block-image {
  display: block;
  margin: auto;
  padding: 10px 0;
}