.input-group-rounded .input-group-field {

    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
  div h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

body {
  margin: 0;
  background-color: white;
}

ul,
li,
h1,
h2,
h3 { 
  margin: 0;
  padding: 0; 
}

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

li {
  font-size: inherit; }

.input-group {
  

}
